<h1>---Inscription---</h1></br>
<form action="/users/errors" method="POST"></br>
<p>Il y a une erreur dans votre nom ou bien il est déjà pris !</p>
<ul></br>
    <li><h2>
        <a href="http://localhost:3000/users" action= "<%= inscription_path %>"> Retourner à la page d'inscription </a></li></h2>
      
    </li>
</ul> </br>
<h4>Allez viens on est bien ! </h4>
